.venv/*
.venv-sglang/*
/sglang-src/
env.sh
*__pycache__*
/models/
/data/hunspell_cache/
/data/reference_corpus/
/CORPUS/
/DICS/
/GRID_SVG/
/GRID_PNG/
/GRID_STORE/
/LOG_LLM/
/LOG_CHAT/
/RSS/
/SCRAPP/
*.log
